/* main stylesheet */

/* CSS reset */
body, header, section, footer, figure, h1 {
  margin:0;
  border:0;
  padding:0;
}

/* basic body styles */
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* semantic element styles */
header, section, footer {
  width:100%;
  border-bottom: 1px solid red;
}

/*
 * VR player styles. These set
 * an aspect ratio rather than a fixed
 * size.
 */
 #sample-webvr:-moz-full-screen {
   width: 100vw;
   height: 100vh;
 }

.webvr-page {
  position:relative;
  width:80%;
  border:1px solid green;
}

.webvr-page figcaption {
  position:absolute;
  bottom:0;
}

.webvr-page canvas {
  width:100%!important;
  height:100%!important;
}

/* CSS Media queries */
@media all and (display-mode: standalone) {
  /* ... */
}
