# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
*~

# mac stuff
.DS_Store

# Dependency - nodejs modules
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
npm-debug.log
.jscsrc

# don't upload grunt
gruntfile.js

# Dependency bower components
bower_components

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
